# ===== 应用配置 =====
APP_NAME=Fenq Super Agent
APP_VERSION=0.1.0
DEBUG=false
LOG_LEVEL=INFO

# ===== API 服务配置 =====
API_HOST=0.0.0.0
API_PORT=8000

# ===== OpenAI 配置 =====
OPENAI_API_KEY=your_dashcope_key
OPENAI_API_BASE=https://dashscope-intl.aliyuncs.com/compatible-mode/v1
OPENAI_MODEL=qwen3-max
OPENAI_TEMPERATURE=0.7

# ===== LangSmith 跟踪 ======
LANGSMITH_TRACING="true"
LANGSMITH_API_KEY="..."
LANGSMITH_WORKSPACE_ID="..."

# ===== 阿里云通义千问配置 =====
DASHSCOPE_API_KEY=your_dashcope_key

# ===== PostgreSQL / PGVector 配置 =====
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_USER=suagent
POSTGRES_PASSWORD=homo1145
POSTGRES_DB=super_agent_db

# ===== PostgreSQL / PGVector RAG 配置 =====
POSTGRES_RAG_HOST=localhost
POSTGRES_RAG_PORT=5432
POSTGRES_RAG_USER=suagent_rag
POSTGRES_RAG_PASSWORD=homo1145
POSTGRES_RAG_DB=super_agent_rag_db

# ===== Redis 配置 =====
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_DB=0
REDIS_PASSWORD=homo1145

# ===== RabbitMQ 配置 =====
RABBITMQ_HOST=localhost
RABBITMQ_PORT=5672
RABBITMQ_USERNAME=guest
RABBITMQ_PASSWORD=guest
RABBITMQ_VIRTUAL_HOST=/
# 交换机 / 队列 / DLX 配置
MQ_EXCHANGE=memory.sync
MQ_ROUTING_KEY=memory.sync
MQ_QUEUE=memory.sync.queue
MQ_DEAD_LETTER_EXCHANGE=memory.sync.dlx
MQ_DEAD_LETTER_ROUTING_KEY=memory.sync.dlx
MQ_DEAD_LETTER_QUEUE=memory.sync.dlx.queue
MQ_MESSAGE_TTL_MS=14400000    # 4 小时
MQ_PREFETCH_COUNT=10

# ===== 向量存储配置 =====
EMBEDDING_MODEL=text-embedding-v4
VECTOR_STORE_COLLECTION=doc

# ===== Minio 配置 ======
MINIO_ENDPOINT={ENDPOINT}
MINIO_ACCESS_KEY={ACCESS_KEY}
MINIO_SECRET_KEY={SECRET_KEY}
MINIO_BUCKET=suagent

# ===== 搜索工具配置 =====
ENABLE_WEB_SEARCH=true
MAX_SEARCH_RESULTS=5
