# ===== 应用配置 =====
APP_NAME=Fenq Super Agent
APP_VERSION=0.1.0
DEBUG=false
LOG_LEVEL=INFO

# ===== 阿里云通义千问配置 =====
DASHSCOPE_API_KEY=your_dashcope_key

# ===== PostgreSQL / PGVector 配置 =====
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_USER=suagent
POSTGRES_PASSWORD=homo1145
POSTGRES_DB=super_agent_db

# ===== PostgreSQL / PGVector RAG 配置 =====
POSTGRES_RAG_HOST=localhost
POSTGRES_RAG_PORT=5432
POSTGRES_RAG_USER=suagent_rag
POSTGRES_RAG_PASSWORD=homo1145
POSTGRES_RAG_DB=super_agent_rag_db

# ===== 向量存储配置 =====
EMBEDDING_MODEL=text-embedding-v4
VECTOR_STORE_COLLECTION=doc

# ===== Minio 配置 ======
MINIO_ENDPOINT={ENDPOINT}
MINIO_ACCESS_KEY={ACCESS_KEY}
MINIO_SECRET_KEY={SECRET_KEY}
MINIO_BUCKET=suagent

# ===== MinerU 配置 =====
MINERU_API_TOKEN={MINERU_API_TOKEN}
OPEN_OCR=0